[submodule "2.test_cases/llm-foundry/llm-foundry"]
	path = 2.test_cases/llm-foundry/mpt-7B/llm-foundry
	url = https://github.com/mosaicml/llm-foundry.git
[submodule "2.test_cases/nccl-test-on-eks"]
	path = 2.test_cases/nccl-test-on-eks
	url = git@ssh.gitlab.aws.dev:smml/benchmarking/nccl-test-on-eks.git
